h1 {
    color: goldenrod
}

body {
    background-image: url("./images/background.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding: 5px 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin: 4px 5px;
}

#playermenu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:hover {
    background-color: gold;
}

button:active {
    background-color: yellow;
}

p {
    padding: 5px 10px;
    margin: 10px;
}

input {
    background-color: whitesmoke;
    margin: auto 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px 5px;
    width: 100px;
    box-sizing: border-box;
}